@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #5b08a7;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #5b08a7;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Learn More Button */
   
   button.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #3EB075;
    border-radius: 1.25rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #3EB075;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/*Table staructure page*/
/* .grid-container {
    display: grid;
    grid-template-columns: auto ; 
    padding: 10px;
}

.grid-item {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #344054;
    opacity: 20%;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 11 columns */
    grid-template-rows: repeat(5, 1fr); /* 5 rows */
    /* grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr; */
    gap: 5px; 
    padding: 10px;
  }
  
  .grid-item {
    border: 5px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    /* background-color: #344054; */
    border-radius: 15px;
    /* opacity: 20%; */
    cursor: pointer;
  }

  .grid-item-reserve{
    border: 5px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    /* background-color: #344054; */
    border-radius: 15px;
    /* opacity: 20%; */
    cursor: pointer;
  }

  .loading-container {
    display: flex;
    align-items: center;
  }
  
  .loading-text {
    margin-left: 300px; /* Adjust the margin as needed */
    font-size: 1rem; /* Adjust the font size as needed */
    font-weight: 1000;
    color: #3ae434; /* Adjust the color as needed */
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #43ee5d;
  }
  
  div.gallery img {
    width: 100%;
    height: 100px;
  }
  
  div.desc {
    padding: 15px;
    padding-bottom: 0;
    text-align: center;
  }

  .home {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, 150px);
    grid-auto-flow: dense;
  }
  
    /* @include xl{
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg{
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
    @include sm {
      grid-auto-rows: minmax(120px, auto);
    } */
  
    .box {
      padding: 20px;
      border-radius: 10px;
      border: 2px solid #43ee5d;
    }
  
     .box1 {
      grid-column: span 1;
      grid-row: span 3;
    }
  
    .box4 {
      grid-column: span 1;
      grid-row: span 3;
    }
    
    .box7 {
      grid-column: span 2;
      grid-row: span 2;
  
      /* @include md {
        display: none;
      } */
    } 

    .topBox h1 {
          margin-bottom: 20px;
          font-weight: 800;
          font-size: large;
      
          /* @include xxl{
            font-size: 24px;
          }
        } */
    }

    .list .listItem {
        display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .list .listItem .user {
        display: flex;
        gap: 20px;
    }

    .list .listItem .user img {
        width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;

          /* @include xxl{
            display: none;
          }
          @include lg{
            display: block;
          } */
    }

    .list .listItem .user .userTexts {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .list .listItem .user .userTexts .username {
        font-size: 14px;
        font-weight: 500;
      }

    .list .listItem .user .userTexts .email {
        font-size: 12px;

        /* @include xxl{
          display: none;
        }
        @include lg{
          display: block;
        } */
      }

      .list .listItem .amount {
        font-weight: 500;
      }

      .chartBox {
        display: flex;
        height: 100%;
      }

      .box2, .box3, .box5, .box6 {
        background-color: #22c55e;
      }

      .chartBox .boxInfo {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        /* @include sm{
          gap: 20px;
        } */
      }

      .chartBox .boxInfo .title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ccc;
  
        /* @include xxl{
          font-size: 14px;
        } */
      }

      .chartBox .boxInfo h1{
        font-size: 18px;
        /* @include xxl{
          font-size: 20px;
        } */
      }

      .chartBox .boxInfo .link{
        color: #c1ecbf;
        /* @include xxl{
          font-size: 20px;
        } */
      }

      .chartBox .chartInfo {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .chartBox .chartInfo .chart {
        width: 100%;
        height: 100%;
      }

      .chartBox .chartInfo .texts {
        display: flex;
        flex-direction: column;
        text-align: right;
        color: #b3b3b3;
      }

      .chartBox .chartInfo .texts .percentage {
        font-weight: bold;
        font-size: 20px;
        color: #f6f6f6;

        /* @include xxl{
          font-size: 16px;
        } */
      }

      .chartBox .chartInfo .texts .duration{
        font-size: 14px;
        color: #FFFFFF;
      }

      .barChartBox{
        width: 100%;
        height: 60%;
      }

      .barChartBox h1 {
        /* font-size: 20px; */
        margin-bottom: 10px;
          font-weight: 800;
          font-size: large;
      }

      /* .barChartBox .chart{

      } */

      .pieChartBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
      }

      .pieChartBox h1 {
        margin-bottom: 10px;
          font-weight: 800;
          font-size: large;
      }

      .pieChartBox .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      .pieChartBox .options {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 14px;
      }

      .pieChartBox .options .option {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }

      .pieChartBox .options .option .title {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .pieChartBox .options .option .title .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      .bigChartBox{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
      }

      .bigChartBox h1 {
        margin-bottom: 10px;
          font-weight: 800;
          font-size: large;
      }

      .bigChartBox .chart{
        width: 100%;
        height: 300px;
      }

.dataTable .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}

.dataTable img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  object-fit: cover;
}

.add-menu {
  margin-left: 200px;
}

.add-menu .img {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  color: #00a762;
}

.menu .item {
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.menu .item .title {
  font-size: 12px;
  font-weight: 200;
  color: #3ae434;
  text-transform: uppercase;

  /* @include lg{
    display: none;
  } */
}

.menu .item .listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.menu .item .listItem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .menu .item .listItem .listItemTitle{
  @include lg{
    display: none;
  }
} */

.ordercontainer {
  display: flex;
  background-color: #ffffff;
}

.menuContainer {
  width: 250px;
  height: 800px;
  background-color: #ffffff;
  padding: 5px 20px;
  box-shadow: 15px 0px 15px -10px rgba(209, 206, 206, 0.75);
  
  /* box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2); */
  /* border-right: 2px solid #3EB075; */

  /* @include lg{
    width: max-content;
  } */
}

.contentContainer {
  padding: 0px 0px;
  width: 100%;
}

.mt-negative {
  margin-top: -15px; /* Adjust the value as needed */
}

.user img {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

    /* @include xxl{
      display: none;
    }
    @include lg{
      display: block;
    } */
}
      
      

